<section id="promo" class="section promo-section bg-gradient">
  <div class="container">
    <div class="overview-wrapper row">
      <div class="product-holder col-12 align-self-start">
        <img class="img-fluid product-image" src="images/404.svg" alt="">
      </div>
    </div>
    <!--//overview-wrapper-->
  </div>
  <!--//container-->
</section>