<div id="Home">
<section id="promo" class="section promo-section bg-gradient">
  <div class="container">
    <h2 class="headline text-center">I GAVE</h2>
    <div class="overview-wrapper row">
      <div class="product-holder col-12 align-self-start">
        <img class="img-fluid product-image" src="images/IGAVE-Ethereum.svg" alt="Logo">
        <p>A Decentralized Autonomous Charitable Organization for funding Charity Operation Costs</p>
        <p class="text-center"><a class="whitepaper" href="whitepaper.pdf" target="_blank">whitepaper</a></p>
      </div>
    </div>
    <!--//overview-wrapper-->
  </div>
  <!--//container-->
</section>
<!--//promo-section-->
