<div id="Metamask">
  <section id="promo" class="section promo-section bg-gradient">
    <div class="container">
      <h2 class="headline text-center">Metamask</h2>
      <div class="overview-wrapper row">
        <div class="product-holder col-12 align-self-start">
          <img class="img-fluid product-image" src="images/metamask.png" alt="Logo">
          </br>
          <button class="btn btn-primary good"> <a href="/client">Metamask Installed. Your are Good to go</a></button>
          <button class="btn btn-primary install">Install Metamask to view the Dashboard </button>
          <button class="btn btn-primary unlock">Unlock Metamask to view the Dashboard </button>
        </div>
      </div>
      <!--//overview-wrapper-->
    </div>
    <!--//container-->
  </section>
</div>