<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container">
    <div class="footer-content text-center">
      <div class="social-container">
        <ul class="list-inline social-list">
          <li class="list-inline-item"><a href="http://igave.io/whitepaper.pdf" target="_blank"><i class="far fa-file-alt"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/I-Gave" target="_blank"><i class="fab fa-github"></i></a></li>
          <li class="list-inline-item"><a href="https://gitter.im/I-Gave/Lobby#" target="_blank"><i class="fab fa-gitter"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/IGaveEthereum" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
        <!--//social-list-->
      </div>
      <!--//social-container-->
    </div>
    <!--//footer-content-->
  </div>
  <!--//container-->
</footer>
<!--//footer-->