<!-- ******HEADER****** -->
<header id="header" class="header fixed-top">
  <div class="container">
    <h1 class="logo"><a class="" href="/"></a></h1>

    <nav class="main-nav navbar navbar-expand-md" role="navigation">
      <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse"
        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

      <div id="navbar-collapse" class="navbar-collapse collapse justify-content-end text-center">
        <ul class="nav navbar-nav center-block">
          <div class="social-container">
            <ul class="list-inline social-list">
              <li class="list-inline-item"><a href="http://igave.io/whitepaper.pdf" target="_blank"><i class="far fa-file-alt"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/I-Gave" target="_blank"><i class="fab fa-github"></i></a></li>
              <li class="list-inline-item"><a href="https://gitter.im/I-Gave/Lobby#" target="_blank"><i class="fab fa-gitter"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/IGaveEthereum" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
            <!--//social-list-->
          </div>
          <!--//social-container-->
          <img class="product-image" src="images/IGAVE-Ethereum-Blue.svg" alt="Logo" height="50">
        </ul>
        <!--//nav-->
      </div>
      <!--//navabr-collapse-->
    </nav>
    <!--//main-nav-->
  </div>
  <!--//container-->
</header>
<!--//header-->