<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>I Gave</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/icon.png">
  <!-- Global CSS -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Plugins CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="plugins/animate-css/animate.min.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="css/styles.css">

  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {{> page/header}}
  {{{body}}}
  {{> page/footer}}

  <script src="modernizr-3.5.0.min.js"></script>

  <!-- Main Javascript -->
  <script type="text/javascript" src="plugins/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="plugins/popper.min.js"></script>
  <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
  <script type="text/javascript" src="plugins/jquery-inview/jquery.inview.min.js"></script>
  <script type="text/javascript" src="plugins/isMobile/isMobile.min.js"></script>
  <script type="text/javascript" src="plugins/back-to-top.js"></script>

  <script type="text/javascript" src="js/main.js"></script>

  <script type="text/javascript" src="js/animations.js"></script>

  <script src="plugins.js"></script>
  <script src="scripts.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111435596-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-111435596-1');

  </script>

</body>

</html>